.header {
  padding: 20px;
  text-align: center;
}

.header-main {
  font-size: 22px;
  padding: 20px 10%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tables {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 30%;
  margin: 0 auto;
  gap: 30px;
}

.metric {
  display: flex;
  font-size: 28px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.number-value {
  /* '0%': '#87d068',
  '50%': '#ffe58f',
  '100%': '#ffccc7', */
  color: #ffb9b3;
  margin-right: 20px;
}

  /* '0%': '#87d068',
  '50%': '#ffe58f',
  '100%': '#ffccc7', */

.btn {
  width: fit-content;
  margin: 0 auto;
  color: black;
  font-size: 24px;
  cursor: pointer;
  background-color: #87d068;
  border-color: #87d068;
  border-radius: .5rem;
  padding: 10px 30px;
}

.btn:hover {
  color: black;
  background-color: #69a151;
  border-color: #69a151;
}

.btn:active, btn:hover {
  color: black;
  background-color: #69a151;
  border-color: #69a151;
}
.btn:active, btn:hover {
  box-shadow: 0 0 0 .2rem #95da78;
}